@import "tailwindcss";

:root {
  /* Base */
  --background: #030303;
  --foreground: #ededed;

  /* Card */
  --card: #1A1A1A;
  --card-hover: #272727;

  /* Text */
  --text-heading: #F7F7F7;
  --text-base: #B3B1B1;
  --text-muted: #666666;
  --text-link: #FFFFFF;

  /* Button */
  --text-button-base: #030303;
  
  /* Accent */
  --accent-green: #D1FE6A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--text-base);
  font-family: var(--font-onest), system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-heading);
  font-family: var(--font-unbounded), system-ui, sans-serif;
  font-weight: 600;
}
